@model Giorno1Oggetti.Company

@{
    ViewBag.Title = "Ditta";
}

<h2>Dettagli</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDipendenti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDipendenti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCostituzione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCostituzione)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
