@model IEnumerable<Giorno1Oggetti.Contact>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Contact", new { id = item.ContactId }, null) |
                @Html.ActionLink("Details", "Details", "Contact", new { id = item.ContactId }, null) |
                @Html.ActionLink("Delete", "Delete", "Contact", new { id = item.ContactId }, null)
            </td>
        </tr>
    }

</table>
